# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDEA files
.idea

# Ignore Mac OS files
.DS_Store

# Ignore local or development resources
src/main/resources/**/*.dev
src/main/resources/**/*.local
